<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 
<hibernate-configuration>
    <session-factory>
        <mapping class="org.travelplan.entity.User" />
        <mapping class="org.travelplan.entity.Role" />
        <mapping class="org.travelplan.entity.UserRole" />
        <mapping class="org.travelplan.entity.Profile" />
        <mapping class="org.travelplan.entity.Place" />
        <mapping class="org.travelplan.entity.TravelRoute" />
        <mapping class="org.travelplan.entity.CostsList" />
        <mapping class="org.travelplan.entity.Costs" />
        <mapping class="org.travelplan.entity.Currency" />
    </session-factory>	    
</hibernate-configuration>